class Planzilla < Formula
  include Language::Python::Virtualenv

  desc "Plan, run and verify work with AI agents from Markdown plan files"
  homepage "https://github.com/IVIR3zaM/Planzilla"
  url "@URL@"
  sha256 "@SHA256@"
  version "@VERSION@"
  license "Apache-2.0"

  depends_on "python@3.13"

  def install
    virtualenv_install_with_resources
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/planzilla --version")
  end
end
